@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
}

.iconset {
    height: 100vh;
    display: block;
    background-image: url(img/bgimage.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 20em;
}


.icon-elephant {
    font-size: 10em;
    text-align: center;
}

.icon-yoga {
    font-size: 10em;
    text-align: center;
}

.icon-elephant:hover {
    color: #8facd1;
    font-size: 12em
}

.icon-yoga:hover {
    color: #8facd1;
    font-size: 12em
}